* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background: #0d6efd;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-size: 2.5rem;
    font-weight: bolder;
}

